/* ─────────────────────────────
 * Main window background
 * ───────────────────────────── */
window {
  background-image: url("$HOME/Wallpapers/1920x1080.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


/* ─────────────────────────────
 * Central container
 * ───────────────────────────── */
#window-box {
  padding: 10px 10px 10px 10px;
  margin-right: 1050px;
  margin-bottom: 300px;
  border-radius: 12px;

  background-color: rgba(33, 37, 43, 0.85);

  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.45);
}


/* ─────────────────────────────
 * Password entry
 * ───────────────────────────── */
entry {
  background-color: rgba(255, 255, 255, 0.12);
  color: #d3dae3;

  border: none;
  border-radius: 8px;

  padding: 4px;
  font-size: 14px;
}

entry:focus {
  box-shadow: none;
  outline: none;
}

button {
  background-color: #0273e3;
  border: none;
}

